{% extends "_components/base.html" %}

{% block js %}
    {{ super() }}
    <script>
        let customQueryParams = {'author_id': {{ current_user.id }} }
    </script>
    <script src="{{ url_for("static", filename="js/recipes/load_recipe_cards.js" ) }}" defer></script>
{% endblock js %}

{% block main_body %}
<div class="inline-spread">
    <h1>My Recipes</h1>
    <a href="{{ url_for("recipes_frontend.recipe_creation_page") }}" class="button">Create New</a>
</div>
<p class='text-title'>List of your personal recipes. You can publish them if you want!</p>
<hr>
<div class="card-container">
</div>

<div class="put-in-center small-vertical-margin">
    <button id="more-button">More</button>
</div>

<template id="recipe-card-template">
    {% include "_components/recipe_card.html" %}
</template>
{% endblock main_body %}