{% extends "_components/base.html" %}

{% block js %}
    {{ super() }}
    <script>
        const recipeId = {{ context.recipe.id }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js" defer></script>
    <script src="{{ url_for("static", filename="js/recipes/load_recipe.js" ) }}" defer></script>
{% endblock js %}

{% block main_body %}

<div class="inline-spread">
    <h1 id='recipe-name'></h1>
    {% if is_owner_or_superuser_id(id=context.recipe.author.id) %}
    <a href="{{ url_for("recipes_frontend.recipe_edit_page", slug=context.recipe.slug) }}" class="button">Edit</a>
    {% endif %}
</div>
{% if not context.recipe.is_visible %}
    <h2 class="text-red">Delisted. Visible to Superusers only.</h2>
{% endif %}
<div class="block">
    <div class="description-box-info-row">
        <span id='meal-type'></span>
        <span>Calories: <span class="text-red" id="calories"></span> kcal</span>
        <span>Time to Cook: <span class="text-red" id="cooking-time"></span> mins</span>
    </div>
    <div class="tag-list" id="tag-list">
    </div>
    <p id="description" class='preserve-newlines'></p>
</div>
<h2>Ingredients</h2>
<p id="ingredients" class='preserve-newlines'></p>
<hr>
<h2>Let's Start Cooking!</h2>
<p id="recipe-text" class='recipe-text'></p>


{% endblock main_body %}