{% extends "_components/base.html" %}

{% block js %}
    {{ super() }}
    <script>
        let customQueryParams = {"published_only": "true", "reversed_order": "true"};
    </script>
    <script src="{{ url_for("static", filename="js/recipes/search_bar.js" ) }}" defer></script>
    <script src="{{ url_for("static", filename="js/recipes/load_recipe_cards.js" ) }}" defer></script>
{% endblock js %}

{% block main_body %}
{% include "_components/search_bar.html" %}
<h2>Recently Published Recipes</h2>
<div class="card-container">
</div>
<div class="put-in-center small-vertical-margin">
    <button id="more-button">More</button>
</div>

<template id="recipe-card-template">
    {% include "_components/recipe_card.html" %}
</template>

{% endblock main_body %}